.subtitle {
  margin: 0;
  padding: 1em 0 0.5em 0;
  position: relative;

  a.anchor {
    position: absolute;
    left: -1em;
  }
}

.capitailized {
  text-transform: uppercase;
}

.group-label {
  font-weight: bold;
  display: block;
  padding: 0.5em 0 0.3em 1em;
}

.config-row {
  padding: 0.5em 0;

  .row-label {
    display: inline-block;
    font-weight: bold;
    width: 5em;
    text-align: right;
  }

  .options {
    min-width: 3.5em;
    display: inline-block;
  }

  &.group {
    padding-left: 1em;
  }
}

.config-block {
  &:first-of-type {
    .subtitle {
      padding-top: 0;
    }
  }
}

aside.previews {
  position: fixed;
  width: 320px;
  left:10%;
  top: 0;
  z-index: 10;
  padding-top: 220px;
}

#playground {
  main {
    padding-left: 420px;
    .codes {
      pre, code {
        overflow-x: auto;
      }
    }
  }
}

#playgroundPreview {
  box-sizing: border-box;
  background: #fff;
}
