#mostlyUsedSamples {
  .section-title {
    padding-left: 20%;
  }
  .block {
    padding: 5em 0 0 20%;
    &:first-of-type {
      padding-top: 0;
    }

    .title {
      position: relative;
      margin-bottom: 1.5em;

      a.anchor {
        position: absolute;
        left: -1em;
      }
    }

    .description,
    .preview,
    .codes {
      margin-left: 1.5em;
    }

    &.footer-links {
      a {
        cursor: pointer;
      }
    }
  }
}
