$vue-green = #41B883
$vue-green-light = lighten($vue-green, 5%)
$vue-dark = #35495E
$vue-darker = darken($vue-dark, 25%)
$body-color = #555
$dark-grey = #777

-black($alpha)
  rgba(0, 0, 0, $alpha)

-white($alpha)
  rgba(255, 255, 255, $alpha)
